
.home{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 0 1rem;
  position: relative;
  
  overflow-y: hidden;
}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.home__title{
  color: red;
}
.home__subtitle{
  color: #aaa;
}
.home__form{
  background-color: red;
  display: flex;
  height: 40px;
}
.home__input{
  width: 65%;
  box-shadow: 0 .125rem .25rem rgba(0.5,0.3,0.5,.1);
  border: none;
  padding-left: 15px;
}
.home__button{
  width: 35%;
  background-color: red;
  color: #ffffff;
  border: none;
  box-shadow: 0 .125rem .25rem rgba(149, 16, 13, 0.1);
}
.home__button:hover{
  background-color: rgb(224, 31, 31);
}
.container__principal{
  width: 100%;
  position: absolute;
  bottom: 0;
  height:15%;
}
.container__barra{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
.black{
  height: 35%;
  background-color: black;
}
.red{
  height: 65%;
  background-color: red;
}

.circle__margin{
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background-color: #000;
  border-radius: 50%;
  left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(93, 92, 92);
}
.circle__padding{
  position: absolute;
  background-color: #ffffff;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 15%;
  top: 15%;
}
.circle__element{
  position: absolute;
  width: 60%;
  background-color: #000;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 19%;
  top: 20%;
}